{% extends 'base.html' %}
{% load static %}

{% block title %}
Разместить объявление
{% endblock %}

{% block advertisement-post-nav-item %}
<li class="nav-item">
    <a class="nav-link active" href="{% url 'advertisement-post' %}">
        <span style="font-weight: bold;">Разместить объявление</span>
    </a>
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col" style="margin: 50px;">
        <div class="display-2">
            <span class="badge bg-primary">Сообщите миру об этом в этой форме</span>
        </div>
    </div>
</div>
<div class="container">
    <form method="post">
        <div class="row mb-3">
            <div class="col-6">
                {{ form.as_p }}
            </div>
        <div class="row mb-3 offset-sm-2">
            <div class="col">
                <button type="submit" class="btn btn-success">Принять</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}